svg.svelte-74dzxt{display:inline-block;vertical-align:middle;flex-shrink:0}.mdi-fallback.svelte-74dzxt{display:inline-flex;align-items:center;justify-content:center;font-weight:700;opacity:.7;flex-shrink:0}
